@model IEnumerable<MerazMVCReviewSiteProject.Models.Review>

@{
    ViewBag.Title = "Review of Forgotten and Overlooked Technology";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@* Convert table to row and columns *@

@*@Html.DisplayNameFor(model => model.Category.TechType)

    @Html.DisplayNameFor(model => model.Title)

    @Html.DisplayNameFor(model => model.Content)

    @Html.DisplayNameFor(model => model.PublishDate)

    @Html.DisplayNameFor(model => model.ModelBrand)*@


@foreach (var item in Model)
{

    <div class="col-sm-12 col-md-4">
        <div class="row">
            <div class="thumbnail">

                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                    <p>@Html.DisplayFor(modelItem => item.ModelBrand)</p>
                    <p>@Html.DisplayFor(modelItem => item.Content)</p>
                    <p>@Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-primary" })</p>
                </div>
            </div>
        </div>
    </div>

    @*@Html.DisplayFor(modelItem => item.Category.TechType)

        @Html.DisplayFor(modelItem => item.Title)

        @Html.DisplayFor(modelItem => item.Content)

        @Html.DisplayFor(modelItem => item.PublishDate)

        @Html.DisplayFor(modelItem => item.ModelBrand)

        @Html.ActionLink("Edit", "Edit", new { id = item.ID })
        @Html.ActionLink("Details", "Details", new { id = item.ID })
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@

}



@* Insert user added picture option
    source: http://bootsnipp.com/snippets/xvnBX
    <!-- File Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="filebutton">upload photo</label>
      <div class="col-md-4">
        <input id="filebutton" name="filebutton" class="input-file" type="file">
      </div>
    </div> *@
